

body{
    display: grid;
    grid-template-columns: 50px,800px,50px;
    grid-template-rows: 40px,400px,400px,40px;
}
main{
    display: grid;
    grid-column-start: 2;
    grid-row-start: 3;
}
.encabezado{
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: darkslategrey;
}
.titulo{
    font-family: cursive;
    font-size: 50px;
}
.contenedor{
    display: grid;
    grid-row-start: 3;
    grid-column-start: 2;
    background-color: cornflowerblue;
    width: auto;
    height: auto;
}